{{!-- <h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
{{# if condition}}
    Condition is met
{{ else }}
    condition is not met
{{/if}} --}}

<p>click <a href="/auth/login">here</a> to go to login page</p>
<p>click <a href="/auth/signup">here</a> to go to Registration page</p>
