p Hello dearrr   #{data.name},
p
  | Please click 
  a.button(href=`${data.link}`, target='_blank') here
  |  within the next 3 days to reset your Botfully.AI password.
p
  | If you did not request this change, please contact us at talktous@dioworksgroup.com for assistance.
br
p Thank you.
br
p Yours sincerely,
p